/*Ivan Peev CSS
*/

header {
    background-color: #131123;
	color: white;
}

english-pre-footer {
	margin-top: 300px;
	padding-left: 30%;
	padding-right: 30%;
}

.word {
	height: 150px;
	background-color: #c5dfc5;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 5em;
	padding: 20px;
}

.myEN {
	width: 300px;
	height: 120px;
	background-color: #c5dfc5;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}










































